{% extends 'layout.html' %}

{% block body %}
<div class="hero">
  <div class="hero-content">
    <div class="row">
        <div class="col-5">
            <div class="text-content">
                <h1>
                    Système de détection des maladies des feuilles
                </h1>
                <p>LD - Detector est un système qui utilise l'IA pour détecter la santé actuelle d'une feuille de plante et fournir des conseils de traitement si nécessaire. </p>
                <a class="btn btn-success mt-4 px-4" href="/predict">C'est parti <i class="fas fa-arrow-alt-circle-right ms-2"></i></a>
            </div>
        </div>
        <div class="col-7">
            <div class="hero-img"></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}